HELP.md
build/
target/
target_test-classes/
bin/
!**/src/main/**/target/
!**/src/test/**/target/
*.class
*.log
hs_err_pid*
replay_pid*
jacoco.exec
*.pid
*.tmp

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
*.env
.env
!.env.example
!*.example

# Ignore private pem
**/keys/private.pem

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

github-policy.json