VPC_ID=

PUBLIC_SUBNET_A_ID=
PUBLIC_SUBNET_B_ID=

PRIVATE_SUBNET_A_ID=
PRIVATE_SUBNET_B_ID=

INTERNET_GATEWAY_ID=

PUBLIC_ROUTE_TABLE_ID=
PRIVATE_ROUTE_TABLE_A_ID=
PRIVATE_ROUTE_TABLE_B_ID=

ECS_SECURITY_GROUP_ID=
RDS_SECURITY_GROUP_ID=

DB_SUBNET_GROUP_NAME=

RDS_INSTANCE_ID=
RDS_ENDPOINT=
RDS_SECRET_ARN=

ECR_REPOSITORY_URI=
ECR_REPOSITORY_ARN=

ECS_TASK_EXECUTION_ROLE_ARN=
ECS_TASK_ROLE_ARN=

GITHUB_OIDC_PROVIDER_ARN=
GITHUB_ACTIONS_ROLE_ARN=

RDS_INSTANCE_ARN=

CLOUDWATCH_LOG_GROUP=

ECS_CLUSTER_NAME=
ECS_SERVICE_NAME=
ECS_TASK_FAMILY=

AWS_BUDGET_NAME=